h3 {
    color: black;
    font-size: 20px;
}

.header4, .header2 {
    color: black;
    text-align: center;
    position: relative;
    margin-top: 5px;
  
}

.aboutText{
    text-align: center;
    padding-top: 20px;
    font-family: 'Source Code Pro', monospace;
  }

.bioImg {
    height: 350px;
    border-radius: 200px;
}


.container-fluid, .bio {
    text-align: center;
    padding-bottom: 5%;

}


  .bioCard {
     text-align: center;

  }
