 
/* 
  
  .techImg{
    transform: scale(2);
    margin: 0px 10px;
  }
  
  .portfolioDeck{
    padding: 30px;
  }
  
  img{
    padding: 20px;
    border-radius: 5px;
    height: 200px;
    width: auto;
    align-content: center;
  }
  
  
  .container-fluid {
    padding-top: 30px;
    padding-bottom: 50px;
  }



.margin {
  margin-bottom: 45px;
}

.card-row {
  margin-bottom: 100px;
}
.container-fluid {
  padding-top: 30px;
  padding-bottom: 50px;
}



.card-title {
  font-family: "Cedarville Cursive", cursive;
  font-size: 30px;
  margin-left: 20px;
  margin-top: -10px;
}

 .card-home {
  align-items: center;
  justify-content: center;
  background-color: rgba(116, 121, 118, 0.842);
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  height: 550px;
 
} 

a {
  color: grey;
}

a.stretched-link {
  color: khaki;
}

.card-text {
  color: black;
  font-size: 20px;
}


  
 */
