

 body {
  background-image: url('./assets/bg1.jpg');
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
 
} 

.contactPage{
  overflow: hidden;
}
.contactForm{
  padding: 20px;

}

.contactH3 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

.contactBtn {
  background-color: #8eb2af !important;
  cursor: pointer;
  
}

.resumeBtn {
  background-color: #8eb2af !important;
  cursor: pointer;
  border: 0px;
  margin: .375rem;
  padding: .84rem 2.14rem;
  cursor: pointer;
}

.contactTop {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.react-pdf__Page__canvas{
  margin: 0 auto;
}

.contactLinks{
  padding-bottom: 20px;
}

.contactImg{
  text-align: center;
  color: black;
  margin: 5px;  
}

.iconLink{
  color: white;
}

.iconLink:hover{
  color: #a7a7a7;
}

.formLabel{
  font-size: 1.5rem;
  text-align: left;
}

.formInput{
  height: 3rem;
  width: 35rem;
}

.formText{
  height: 35rem;
  width: 35rem;
}
